#!/bin/bash

virt-install --name="{{ p_vmname }}" \
    --ram="{{ p_memsize }}" \
    --check disk_size=off \
    --location={{ kvm_cfg.iso.dir }}/{{ kvm_cfg.iso.name }} \
    --extra-args="ks={{ kvm_cfg.ks_url }} ip={{ p_ip }} netmask={{ p_nm }} dns={{ p_dns }} gateway={{ p_gw }}" \
    --network "network={{ kvm_cfg.network.name }},mac={{ p_mac }},model={{ p_netdev }}" \
    --graphics vnc \
    --vcpus {{ p_cpu }} \
    --boot hd,network,menu=yes \
    --disk "{{ kvm_cfg.qcow_dir }}/{{ p_vmname }}.qcow2,bus={{ p_bus }},sparse={{ p_sparse }},size={{ p_disksize }}" \
